{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="">
    <div class="mt-5 text-center">
        <img src="{% static 'core/images/pic1.png' %}" class="img-thumbnail " width="300px" height="150px" alt="ProfilePic">
    </div>
    <div class="text-white mt-5 mx-5 text-justify">
        <h1 class="font-weight-bold st-font">Hello,</h1>
        <div class="px-4" style="line-height:2rem">
            <p style="text-indent:130px;">
                I am <b class="text-warning "> Rashid Khan</b> Having 1 Years Of Full Stack Web-Development Experience For Global Businesses,
                I offer the Technical expertise you are seeking for your web development position.
            </p>
            <p>
                Since earning my bachelor's degree in internet and web development from <b class="text-warning">Mumbai University
                </b>,i have served as a web developer at <b class="text-warning">GS Technology</b> 
                ,One Of The Biggestpremier digital marketing and web development firm. In this position,I have led web development projects for clients in diverse industries including technology,manufacturing,pharmaceutical,hospitality,retail and financial services.          
            </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto expedita nulla, velit sunt eos et     animi autem, sapiente nobis adipisci dolorum explicabo. Doloremque architecto mollitia non suscipit excepturi illum voluptas.            
            </p>
        </div>
    </div>
    <div class="text-center">
        <a href="{% url 'contact' %}" class="btn btn-outline-warning mr-5 my-3">Hire Me</a>
        <a href="{% url 'contact' %}" class="btn btn-outline-info my-3">Contact</a>
    </div>
</div>
{% endblock content %}